@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<head>
    <link rel="stylesheet" href="~/css/Account/LayoutStyleSheet.css" asp-append-version="true" />
</head>
<body>
    <h1>Change your account settings</h1>

<div>
    <h2>Manage your account</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
    <img src="~/images/Account/setting.png" id="zdj" width="550" height="550" />
</body>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
