@{
    ViewData["Title"] = "Access Denied";
}
<head>
    <link rel="stylesheet" href="~/css/ButtonsStyleSheet.css" asp-append-version="true" />
</head>
<h1>Access Denied</h1>
<p>Sorry, but you don't have the permissions to download this photo.</p>
<button class="btn buttony btn-primary" onclick="goBack()">Go Back</button>
<script>
    function goBack() {
        history.back();
    }
</script>