@page
@using Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal;
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Did you forget your password?";
}
<head>
    <link rel="stylesheet" href="~/css/ButtonsStyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/ForgotPasswordStyleSheet.css" asp-append-version="true" />
</head>
<div id="kontent">
<h1>@ViewData["Title"]</h1>
<h2>Please enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating ">
                <input asp-for="Input.Email" class="form-control einput" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="d-inline justify-content-between">
                <button type="submit" class="buttony btn-primary btn">Reset Password</button>
            </div>
        </form>
            <button class="btn buttony btn-primary" onclick="goBack()">Go Back</button>
    </div>
</div>
</div>
<img src="~/images/Account/forget.png" id="zdj" width="400" height="400" />
<script>
    function goBack() {
        window.location.href = "/Identity/Account/Login";
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
