@page
@using Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal;
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password recovery confirmation";
}
<head>
    <link rel="stylesheet" href="~/css/ButtonsStyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/ForgotPasswordConfirmationStyleSheet.css" asp-append-version="true" />
</head>
<div id="kontent">
    <h1>@ViewData["Title"]</h1>
    <h3>Please check your email to reset your password.</h3>
    <hr/>
    <p>An email has been sent to your registered email address with instructions on how to reset your password. Please check your inbox and follow the provided steps.</p>
    <button class="btn buttony btn-primary" onclick="goBack()">Go Back</button>
</div>
<img src="~/images/Account/passwordrecover.png" id="zdj" width="500" height="500" />
<script>
    function goBack() {
        window.location.href = "/Identity/Account/Login";
    }
</script>