@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/LoginStyleSheet.css" asp-append-version="true" />
</head>

<div class="row justify-content-center">
    <div class="col-10">
        <section>
            <form id="account" method="post">
               
                <div id="zdj"> <img src="~/images/photo.png" width="135px" height="135px" /> <br />PhotoProject </div>
                <hr style="height:3px;"/>
                @*<h2>Welcome back</h2>*@ 
@*                <hr />*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control inputy" autocomplete="username" aria-required="true" id="email" placeholder="Email" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control inputy" autocomplete="current-password" aria-required="true" id="password" placeholder="Password" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox" id="formchecktext">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" id="formcheckpole"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="Button">Sign in</button>
                </div>
                <div>
                    <p id="forgotpass">
                        <a class="forgotpasslink" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                   @* <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

