body {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}
#zdj {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.inputy {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#formcheckpole {
    background-color: lightblue;
}

#formchecktext {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: right;
}

.Button {
    background:-webkit-linear-gradient(bottom,#8ECAE6,#219EBC);
    width: 70%;
    height: 70%;
    font-size: 40px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    margin-top:35px;
}
.Button:hover {
    background: -webkit-linear-gradient(bottom,#FFB703,#FB8500);
    color:black;
}

#forgotpass{
    margin-top:60px;
    margin-bottom:10px;
}

.forgotpasslink {
    text-decoration:none;
    color:black;
    font-weight:bold;
}
.forgotpasslink:hover{
    color:white;
}

#zdj {
    font-weight: bold;
    font-size: 40px;
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.zdj {
    font-family: 'Rocher';
    font-size: 40px;
}

@font-palette-values --Zdj {
    font-family: Rocher;
    base-palette: 11;
}

.zdj {
    font-palette: --Zdj;
}