#kontent {
    margin-top:80px;
}

h1 {
    font-weight: bold;
}

h3 {
    font-style: italic;
    margin-bottom:20px;
}
#zdj {
    position: absolute;
    left: 50%;
    top: 25%;
}

p{
    font-weight:bold;
    width:600px;
}