.einput {
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #e3f6f5;
    color: black;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
#kontent{
    margin-top:80px;
}
h1{
    font-weight:bold;
}
h2{
    font-style:italic;
}
#zdj {
    position: absolute;
    left: 50%;
    top: 25%;
}

.buttony{
    margin-bottom:10px;
}